---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ishida@website</title>
	</head>
	<body class="relative min-h-screen p-[0.3rem]">
		<!-- Background GIF -->
		<div
			class="absolute inset-0 -z-10 bg-cover bg-center"
			style="background-image: url('/bg.gif');"
		>
		</div>
		
		<div class="bg-black/85 rounded-2xl p-8 w-full h-screen">
			<slot/>
		</div>
		
	</body>
</html>
